{{- $u := urls.Parse .Destination -}}
{{- $src := $u.String -}}
{{- if not $u.IsAbs -}}
  {{- with or (.PageInner.Resources.Get $u.Path) (resources.Get $u.Path) -}}
    {{- $src = .RelPermalink -}}
  {{- end -}}
{{- end -}}
{{ if .Title }}
<figure class="post-article-image">
    <a href="{{ $src | safeURL }}">
      <img src="{{ $src | safeURL }}" alt="{{ .Text }}">
    </a>
    <figcaption>{{ .Title }}</figcaption>
</figure>
{{ else }}
<div class="post-article-image">
    <a href="{{ $src | safeURL }}">
      <img src="{{ $src | safeURL }}" alt="{{ .Text }}">
    </a>
</div>
{{ end }}
