{{ define "main" }}
<section class="single-page-container page-type-{{ .Type }}" data-pagefind-body>
    
    <h2 class="page-title" data-pagefind-meta="title">{{ .Title }}</h2>

    {{ if eq .Type "blogi" }}
    <time datetime="{{ .PublishDate | time.Format "2006-01-02" }}">{{ .PublishDate | time.Format "Monday 02.01.2006" }}</time>
    {{ end}}

    {{ .Content }}

    <div id="search"></div>
    <script>
        const waitForElement = (selector) => {
            return new Promise(resolve => {
                if (document.querySelector(selector)) {
                    return resolve(document.querySelector(selector));
                }

                const observer = new MutationObserver(mutations => {
                    if (document.querySelector(selector)) {
                        observer.disconnect();
                        resolve(document.querySelector(selector));
                    }
                });

                observer.observe(document.body, {
                    childList: true,
                    subtree: true
                });
            })
        }

        window.addEventListener('DOMContentLoaded', (event) => {
            new PagefindUI({ element: "#search", showSubResults: false });
        });

        waitForElement(".pagefind-ui__search-input").then((element) => {
            element.focus();
        });
    </script>


</section>
{{ end }}