{{ define "main" }}
<section class="single-page-container page-type-{{ .Type }}" data-pagefind-body>
    
    <h2 class="page-title" data-pagefind-meta="title">{{ .Title }}</h2>

    {{ if eq .Type "blogi" }}
    <time datetime="{{ .PublishDate | time.Format "2006-01-02" }}">{{ .PublishDate | time.Format "Monday 02.01.2006" }}</time>
    {{ end}}

    {{ .Content }}

    <div id="search">
        <input type="text" name="query_input" id="query_input" />
        <div id="search_results"></div>
        <button type="button" id="more_results" class="hidden">Lataa lisää tuloksia</button>
    </div>
    
</section>
{{ end }}