@use "reset.scss";

@font-face {
    font-family: 'Roboto Mono';
    src: url('../fonts/roboto-mono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*----------------------------------------------------------------------------
*
* Variables: Defaults
*
----------------------------------------------------------------------------*/
$screen-medium: 768px;
$screen-small: 576px;

:root {
    --font-family: "Roboto Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-size-main-navi: 1.5rem;
    --font-size-page-title: clamp(1.4rem, 1.4rem + 1.5vw, 2.5rem);
    --font-size-h3: clamp(1.2rem, 1.2rem + 1.5vw, 1.8rem);
    --font-size-h4: clamp(1.1rem, 1.1rem + 1.2vw, 1.6rem);
    --font-size-h5: 1.44rem;
    --font-size-h6: 1.25rem;
    --font-size-normal: 1.1rem;
    --font-size-small: 0.833rem;
    --font-line-height: 2;
    --width-content-max: 1200px;
}

/*----------------------------------------------------------------------------
*
* Variables: Dark theme
*
----------------------------------------------------------------------------*/
:root {
    --color-background: rgb(39, 41, 53);
    --color-block: hsl(231, 15%, 15%);
    --color-text: rgb(248, 248, 242);
    --color-navi: hsl(39, 60%, 74%);
    --color-navi-bg: hsl(231, 5%, 12%);
    --color-navi-underline: hsl(231, 5%, 22%);
    --color-navi-underline-hover: hsl(231, 5%, 52%);
    --color-link: rgb(255, 184, 108);
    --color-sub-title: rgb(243, 216, 60);
    --color-strong: rgb(212, 253, 176);
    --color-emphasis: rgb(176, 253, 243);
    --color-darker-bg: rgba(0, 0, 0, 0.123);
    --color-code: hsl(231, 15%, 25%);
    --color-photo-caption-bg: rgb(32, 33, 41);
    --color-post-meta-bg: rgb(32, 33, 41);
    --link-text-shadow: 0 0 5px rgba(255, 184, 108, 0.7);
    --strong-text-shadow: 0 0 5px rgba(174, 255, 108, 0.7);
    --emphasis-text-shadow: 0 0 5px rgba(108, 255, 255, 0.7);
    --separator: 2px dotted rgb(76, 80, 103);

}

/*----------------------------------------------------------------------------
*
* Layout
*
----------------------------------------------------------------------------*/
body {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas:
      "header"
      "content"
      "footer";
    min-height: 100vh;

    background-color: var(--color-background);
    color: var(--color-text);
    font: var(--font-size-normal) var(--font-family);
}

.header {
    grid-area: header;
    background-color: var(--color-navi-bg);
    display: grid;
    justify-items: center;
}

.content {
    grid-area: content;
    display: grid;
    justify-items: center;
}

.footer {
    grid-area: footer;
    display: grid;
    justify-items: center;
}

.width-limiter {
    width: 100%;
    max-width: var(--width-content-max);
    padding: 1rem;
}

/*----------------------------------------------------------------------------
*
* Element defaults
*
----------------------------------------------------------------------------*/
a {
    color: var(--color-link);

    &:hover, &:focus {
        text-shadow: var(--link-text-shadow);
    }
}

em {
    color: var(--color-emphasis);
    text-shadow: var(--emphasis-text-shadow);
}

strong {
    color: var(--color-strong);
    text-shadow: var(--strong-text-shadow);
    font-weight: bold;
}

h2 {
    font-size: var(--font-size-page-title);
}

h3 {
    font-size: var(--font-size-h3);
}

h4 {
    font-size: var(--font-size-h4);
}

code {
    background-color: var(--color-code);
    padding: 0.4rem 0.5rem;
    border-radius: 5px;
}

sup {
    vertical-align: super;
    font-size: var(--font-size-small);
    a {
        text-decoration: none;
    }
}

ol, ul {
    list-style-type: square;
    padding-left: 2rem;
    padding-top: 1rem;

    & + * {
        padding-top: 1rem;
    }

    ul, ol {
        padding-top: 0;
    }
}

ol {
    list-style-type: decimal;
    padding-left: 3rem;
}

li + li {
    padding-top: 0.5rem;
}

blockquote {
    background-color: var(--color-block);
    padding: 1rem 2rem;
    margin: 1rem 0;
    border-left: 5px solid var(--color-strong);
}

table {
    margin-top: 1rem;
    margin-bottom: 1rem;

    tr:first-of-type {
        border-top: var(--separator);
    }

    tr {
        border-bottom: var(--separator);
    }

    td, th {
        padding: 0.3rem 1rem;
        border-left: var(--separator);
    }

    td:last-of-type, th:last-of-type, tr:last-of-type {
        border-right: var(--separator);
    }

    th {
        font-weight: bold;
        text-align: left;
        border-bottom: var(--separator);
        background-color: var(--color-block);
    }
}

/*----------------------------------------------------------------------------
*
* Code blocks
*
----------------------------------------------------------------------------*/
.highlight {
    padding: 1rem 0;
    max-width: 90vw;

    pre {
        overflow-x: auto;
        padding: 0.5rem;
        text-wrap: nowrap;
    }

    code {
        background-color: inherit;
        padding: 0
    }
}

/*----------------------------------------------------------------------------
*
* Header
*
----------------------------------------------------------------------------*/
.header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title navigation";
    align-items: center;
    width: 100%;
    max-width: var(--width-content-max);
}

.header-title {
    grid-area: title;
}
.header-title-logo {
    width: 2rem;
    height: 2rem;
}
.header-title-link {
    color: var(--color-text);
    text-decoration: none;
    font-size: 2rem;
}

.main-navigation {
    grid-area: navigation;
    justify-self: end;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.navi-link {
    color: var(--color-navi);
    text-decoration: none;
    font-size: var(--font-size-main-navi);
    border-bottom: 1px solid var(--color-navi-underline);

    &:hover {
        color: var(--color-text);
        border-bottom: 1px solid var(--color-navi-underline-hover);
    }
}

@media screen and (max-width: $screen-medium) {
    .navi-link {
        font-size: 2.8vw;
    }
}

@media only screen and (max-width: $screen-small) {
    .header-title {
        justify-self: center;
    }
    .header-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "title" "navigation";
    }
    .main-navigation {
        justify-self: center;
        flex-wrap: wrap;
    }
    .navi-link {
        font-size: 5vw;
    }
}

/*----------------------------------------------------------------------------
*
* Content
*
----------------------------------------------------------------------------*/
.content {
    p {
        line-height: var(--font-line-height);

        & + p, figure + p {
            padding-top: 1rem;
        }
    }

    li {
        line-height: 1.5;
    }

    h3 {
        color: var(--color-sub-title);

        & + ul, & + ol {
            padding-top: 0;
        }
    }
}
.page-title {
    text-align: center;
    font-size: var(--font-size-page-title);
    font-weight: bold;
    line-height: 150%;
    margin-bottom: 2rem;
}

/*----------------------------------------------------------------------------
*
* Blog posts
*
----------------------------------------------------------------------------*/
.single-page-container {
    h3 {
        margin: 2.5rem 0 1rem 0;
    }
    h4 {
        margin: 2rem 0 1rem 0;
    }
}
.post-image {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    max-width: 100%;

    img {
        border-radius: 10px 10px 0 0;
        max-width: 100%;
        height: auto;
    }
    figcaption {
        background: var(--color-post-meta-bg);
        padding: 1rem;
        border-radius: 0 0 10px 10px;
        line-height: 200%;
    }
}
.blog-meta {
    background-color: var(--color-block);
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}
.footnotes {
    font-size: var(--font-size-small);
}
.webmentions {
    border-top: var(--separator);
    margin-top: 1rem;
    padding: 1rem 0;

    .title {
        font-size: var(--font-size-h5);
    }
}
.next-prev-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "prev next";
    border-top: var(--separator);
    margin-top: 1rem;
    padding-top: 1rem;
    line-height: 1.5;

    .title {
        font-weight: bold;
    }

    .prev {
        grid-area: prev;
    }

    .next {
        grid-area: next;
        text-align: right;
    }
}

/*----------------------------------------------------------------------------
*
* List page
*
----------------------------------------------------------------------------*/
.list-page-container {
    .toggle {
        display: none;
        text-align: center;
    }

    .categories {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        padding-bottom: 2rem;
        padding-top: 2rem;
        
        .category {
            display: inline-block;
            background-color: var(--color-block);
            padding: 0.5rem 1rem;
            border-radius: 10px;
        }
    }
}

@media only screen and (max-width: $screen-medium) {
    .list-page-container {
        .categories.hidden {
            display: none;
        }
        .toggle {
            display: block;
        }
    }
}

.list-item {
    padding: 1rem 0;
    border-bottom: var(--separator);

    .list-item-title {
        margin-bottom: 0.8rem;
    }

    .date {
        display: block;
        margin-bottom: 1.5rem;
    }

    .categories {
        display: flex;
        gap: 1rem;
        padding: 0;
        padding-top: 1rem;
    }

    &:last-of-type {
        border-bottom: none;
    }
}

.blog-post { /* TODO: No need to have this class I think */
    display: flex;
    flex-direction: row;

    .cover-photo {
        padding: 0 1rem 0 0;
        
        picture {
            width: 250px;
            border-radius: 10px;
        }
        img {
            border-radius: 10px;
        }
    }
}
@media only screen and (max-width: $screen-medium) {
    .blog-post .cover-photo {
        display: none;
    }
}

.sarja {
    background-color: var(--color-block);
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;

    h4 {
        font-size: var(--font-size-normal);
    }
}

.pagination {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding-top: 2rem;

    li + li {
        padding-top: 0;
    }

    .page-item {
        display: block;

        &.active, &.disabled {
            a {
                color: var(--color-text);
            }
        }
    }
}

/*----------------------------------------------------------------------------
*
* Header
*
----------------------------------------------------------------------------*/
.footer {
    text-align: center;
    border-top: var(--separator);
    line-height: var(--font-line-height);

    nav {
        ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 1rem;
            list-style: none;
            margin: 0;
            padding: 0;
        }
        li {
            padding: 0;
        }
    } 
}

/*----------------------------------------------------------------------------
*
* Search
*
----------------------------------------------------------------------------*/
#search {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;;
    
    #query_input {
        padding: 0.5rem;
        border-radius: 10px;
    }

    .result_count {
        padding-bottom: 1rem;
    }

    .result {
        padding: 1rem 0;
        border-top: var(--separator);
        display: flex;
        flex-direction: row;
    }

    .thumbnail {
        border-radius: 10px;
    }

    .title {
        margin-block-start: 0;
    }

    .result_text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-content: flex-start;
        padding-left: 1rem;
        row-gap: 1rem;;
    }

    #more_results {
        place-self: center;
        padding: 0.5rem;
        border-radius: 10px;
        width: fit-content;
    }
}


@media only screen and (max-width: $screen-medium) {
    .thumbnail {
        display: none;
    }
    .pagefind-ui__form {
        .pagefind-ui__result {
            grid-template-columns: min-content 1fr;
            grid-template-areas: ". text";
        }
        .pagefind-ui__result-thumb {
            display: none;
        }
    }
}

.packing-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.travel-schedule {
    td:nth-of-type(2), td:nth-of-type(3), td:nth-of-type(4) {
        white-space: nowrap;
    }
}

/* Floats are used only with bigger screens */
@media only screen and (min-width: $screen-medium) {
    .post-image.float-left {
        float: left;
        width: 450px;
        padding: 1rem 1.5rem 1rem 0;
    }
    .post-image.float-right {
        float: right;
        width: 450px;
        padding: 1rem 0 1rem 1.5rem;
    }
}

.breadcrumb {
    margin-bottom: 1rem;
    
    ol {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
        align-items: end;
    }

    li:not(:last-child)::after {
        display: inline-block;
        margin: 0 0.5rem;
        content: "➜";

    }
}

@media only screen and (max-width: $screen-medium) {
    .breadcrumb {
        li:not(:last-child)::after {
            content: none;
        }
        li:not(:nth-last-child(2)) {
            display: none;
        }
        li:nth-last-child(2)::before {
            content: "⏴ "
        }
    }
}

.page-content {
    padding-bottom: 2rem;
}

.subpage {
    padding-bottom: 1rem;
}

.last-updated {
    font-size: 0.8rem;
    text-align: center;
    padding-top: 3rem;
}

.table-wrapper {
    max-width: calc(100vw - 2rem);
    overflow-x: auto;
}

.hidden {
    display: none;
}