{{- $cover := .Resources.GetMatch "cover" -}}
{{- if $cover -}}
    {{- $thumbnail := $cover.Resize "400x jpg q50" -}}
    <meta data-pagefind-meta="image[content]" content="{{ $thumbnail.RelPermalink }}" property="pagefind:image">
    <meta data-pagefind-meta="image_alt[content]" content="{{ $cover.Title }}" property="pagefind:alt">
    <meta data-pagefind-meta="image_width[content]" content="{{ $thumbnail.Width }}" property="pagefind:width">
    <meta data-pagefind-meta="image_height[content]" content="{{ $thumbnail.Height }}" property="pagefind:height">
{{- else -}}
    {{- $url := printf "https://opengraph.saaste.net/opengraph.png?title=%s&date=%s" (urlquery .Title) (time.Format "02.01.2006" .Date) -}}
    {{- with resources.GetRemote $url -}}
        {{- with .Err -}}
            {{- errorf "%s" . -}}
        {{- else -}}
            {{- $thumbnail := .Resize "400x jpg q50" -}}
            <meta data-pagefind-meta="image[content]" content="{{ $thumbnail.RelPermalink }}" property="pagefind:image">
            <meta data-pagefind-meta="image_alt[content]" content="Sivuston teksti ja logo" property="pagefind:alt">
            <meta data-pagefind-meta="image_width[content]" content="{{ $thumbnail.Width }}" property="pagefind:width">
            <meta data-pagefind-meta="image_height[content]" content="{{ $thumbnail.Height }}" property="pagefind:height">
        {{- end -}}
    {{- end -}}
{{- end -}}

<meta data-pagefind-meta="page_type[content]" content="{{ .Type }}" property="pagefind:type">