{{- $ancestors := after 0 .Ancestors.Reverse }}

{{- with $ancestors -}}
<nav class="breadcrumb" aria-label="breadcrumb">
    <ol>
        {{- range . -}}
            {{- $title := .Title -}}
            {{- with .Params.breadcrumb_title -}}
                {{- $title = . -}}
            {{- end -}}
            <li><a class="breadcrumb-item" href="{{ .RelPermalink }}">{{ $title }}</a></li>
        {{- end -}}

        {{- $title := $.Title -}}
        {{- with $.Params.breadcrumb_title -}}
            {{- $title = . -}}
        {{- end -}}
        <li><a class="breadcrumb-item" href="{{ $.RelPermalink }}" aria-current="page">{{ $title }}</a></li>
    </ol>
</nav>
{{- end -}}