<a href="/ai">
    <img src="{{ .Site.BaseURL }}images/badge-made-by-human.png"
         alt="Pieni Made by human -merkki, joka kertoo siitä, että sivujen sisältö on toteutettu ihmisen toimesta eikä tekoälyä ole käytetty."
        title="Periaatteet tekoälyn käyttöön"
        class="badge"
        width="88"
        height="31">
</a>
<p class="copyright">Copyright &copy; {{ now.Format "2006" }} saaste.net</p>
<nav>
    <ul>
        {{ range .Site.Menus.bottom }}
        {{ if strings.HasPrefix .URL "http" }}
        <li><a href="{{ .URL }}" target="_blank" rel="noopener">{{ .Name | safeHTML }}</a></li>
        {{ else }}
        <li><a href="{{ .URL }}">{{ .Name | safeHTML }}</a></li>
        {{ end }}
    {{ end }}    
    </ul>
</nav>