<a href="/ai" target="_blank">
    <img src="{{ .Site.BaseURL }}images/badge-made-by-human.png" alt="Pieni Made by human -merkki, joka kertoo siitä, että sivujen sisältö on toteutettu ihmisen toimesta eikä tekoälyä ole käytetty." title="Periaatteet tekoälyn käyttöön" class="badge" width="88" height="31">
</a>
<p>
    Copyright &#169; {{ now.Format "2006" }} saaste.net
    {{ range .Site.Menus.top }}
        {{ if strings.HasPrefix .URL "http" }}
        ⋅ <a href="{{ .URL }}" target="_blank" rel="noopener">{{ .Name | safeHTML }}</a>
        {{ else }}
        ⋅ <a href="{{ .URL }}">{{ .Name | safeHTML }}</a>
        {{ end }}
    {{ end }}
</p>