<div class="header-container">
    <div class="header-title">
        <h1>
            <a href="{{ .Site.BaseURL }}" class="header-title-link">
                <img src="{{ .Site.BaseURL }}images/logo-128.png" alt="Vektorikuva kuolleesta puun silhuetista" class="header-title-logo">
                <span class="header-title-text">{{ .Site.Title }}</span>
            </a>
        </h1>
    </div>
    <nav class="main-navigation">
        {{ range .Site.Menus.main }}
            {{ if strings.HasPrefix .URL "http" }}
            <a href="{{ .URL }}" target="_blank" rel="noopener" class="navi-link">
            {{ else }}
            <a href="{{ .URL }}" class="navi-link">
            {{ end }}
                {{ .Name | safeHTML  }}
            </a>
        {{ end }}
    </nav>
</div>