<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/style.css">

    {{ $title := print .Title " | " .Site.Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>

    {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
    {{ end }}
  
    {{ partial "opengraph.html" . }}
    <script defer data-domain="saaste.net" src="https://webstats.saaste.net/js/plausible.js"></script>

    <!-- <link href="/pagefind/pagefind-ui.css" rel="stylesheet"> -->
    <script src="/pagefind/pagefind-ui.js"></script>

    {{ $cover := .Resources.GetMatch "cover.*" }}
    {{ if $cover }}
        <meta data-pagefind-meta="image[content]" content="{{ $cover.RelPermalink }}">
        <meta data-pagefind-meta="image_alt[content]" content="{{ $cover.Title }}">
    {{ else }}
        <meta data-pagefind-meta="image[content]" content="{{ .Site.BaseURL }}images/logo-128.png">
        <meta data-pagefind-meta="image_alt[content]" content="Vektorikuva kuolleesta puun silhuetista">
    {{ end }}

</head>