<!DOCTYPE html>
<html lang="{{ site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body>
        <header class="header">
            <div class="width-limiter">
                {{- partial "header.html" . -}}
            </div>
        </header>
        <main class="content">
            <div class="width-limiter">
                {{- block "main" . }}{{- end }}
            </div>
        </main>
        <footer class="footer">
            <div class="width-limiter">
                {{- partial "footer.html" . -}}
            </div>
        </footer>
    </body>
</html>
