{{ define "main" }}

<section class="list-page-container">
    <h2 class="list-page-title">{{ .Title }}</h2>
    {{ $paginator := .Paginate ( .Pages.ByPublishDate.Reverse ) }}

    {{ with .Site.Taxonomies.aiheet }}
    <div class="categories">
        {{ range $key, $value := . }}
        <div class="category">
            <a href="{{ "aiheet/" | absLangURL }}{{ $key | urlize  }}">{{ $key }}</a> ({{ len $value }})
        </div>
        {{ end }}
    </div>
    {{ end }}

    {{ range $paginator.Pages }}
    <div class="list-item">
        <time datetime="{{ .PublishDate | time.Format "2006-01-02" }}">{{ .PublishDate | time.Format "Monday 02.01.2006" }}</time>
        <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        {{ .Summary }}

        {{ with .Params.categories }}
        <ul class="categories">
            {{ range . }}
                <li class="category category-{{ . }}"><a href="{{ "categories/" | absLangURL }}{{ . | urlize}}">{{ . }}</a></li>
            {{ end }}
        </ul>
        {{ end }}
    </div>
    {{ end }}

    {{ template "_internal/pagination.html" . }}
</section>
{{ end }}
