{{- define "main" -}}
<section class="list-page-container">
    {{- partial "breadcrumbs.html" . -}}
    <h2 class="page-title">{{ .Title }}</h2>

    {{- if .Content -}}
    <div class="page-content e-content">
        {{ .Content }}
    </div>
    {{- end -}}

    {{- range .Pages -}}
    <div class="subpage">
        <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
        <p>{{ .Summary }}</p>
    </div>
    {{- end -}}

    {{ if .Lastmod }}
    <p class="last-updated">Päivitetty viimeksi <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05-0700" }}">{{ .Lastmod.Format "02.01.2006 kello 15:04" }}</time></p>
    {{ end }}
</section>
{{- end -}}
