{{ define "main" }}
<section class="single-page-container page-type-{{ .Type }} h-entry" data-pagefind-body>
    
    <h2 class="page-title p-name" data-pagefind-meta="title" class="page-title">{{ .Title }}</h2>

    {{ if eq .Type "blogi" }}
    <div class="blog-meta">
        {{ $readingTime := div (float .WordCount) .Site.Params.reading_speed }}
        {{ $readingTime = math.Ceil $readingTime }}

        Kirjoitus on julkaistu <strong><time datetime="{{ .PublishDate | time.Format "2006-01-02" }}">{{ .PublishDate | time.Format "Monday 02.01.2006" }}</time></strong>,
        
        {{ if not (eq .Page.PublishDate .Page.Lastmod) }}
        sitä on päivitetty viimeksi <strong><time datetime="{{ .Lastmod | time.Format "2006-01-02" }}">{{ .Lastmod | time.Format "Monday 02.01.2006" }}</time></strong>,
        {{ end  }}

        sen lukemiseen menee noin <strong>{{ $readingTime }} minuuttia</strong>, ja
        {{ with .Params.aiheet }} 
            se kuuluu seuraaviin aihealueisiin: 
            {{ range . }}
            <a href="{{ "aiheet/" | absLangURL }}{{ . | urlize}}" class="e-category">{{ . }}</a>
            {{ end }}
        {{ end }}
    </div>
    {{ end}}

    <div class="e-content">
        {{ .Content }}
    </div>

    {{ if eq .Type "blogi" }}

    {{ $all := getJSON "webmentions.json" }}
    {{ $allMatching := (where $all "target" (absURL .Page.Permalink)) }}
    {{ $likes := ((where $allMatching "type" "like") | len) }}
    {{ $mentions := (where $allMatching "type" "mention")}}
    {{ $hasMentions := (or (gt $likes 0) (gt ($mentions | len) 0))}}
   
    {{ if $hasMentions }}
    <div class="webmentions">
        <h5 class="title">Kirjoitus muualla</h5>
        {{ if (gt $likes 0) }}
        <p class="likes">Tykkäykset <em>Mastodonissa</em> ❤️ {{ $likes }}</p>
        {{ end }}

        {{/*
        {{ with $mentions }}
        <div class="mentions">
            {{ range . }}
                {{ $author := index . "author" }}
                {{ $authorName := index $author "name" }}
                {{ $name := index . "name" }}
                {{ $content := index . "content" }}
                {{ $published := time.AsTime (index . "published") }}
                {{ $content := index . "content" }}
                {{ $url := index . "url" }}
                <div class="mention">
                    <p class="author-name">{{ $authorName }}</p>
                    <p class="content">{{ $content }}</p>
                    <p class="published"><a href="{{ $url }}" target="_blank">{{ time.Format "02.01.2006 kello 15:04 -0700" $published }}</a></p>
                </div>
            {{ end }}
        </div>
        {{ end }}
        */}}
    </div>
    {{ end }}

    
   
    {{ if (or .NextInSection .PrevInSection) }}
    <div class="next-prev-nav" data-pagefind-ignore>
        {{ with .PrevInSection }}
        <a href="{{ .RelPermalink }}" class="prev">
            <span class="title">« Edellinen</span><br>
            {{ .Title }}
        </a>
        {{ end }}

        {{ with .NextInSection }}
        <a href="{{ .RelPermalink }}" class="next">
            <span class="title">Seuraava »</span><br>
            {{ .Title }}</a>
        {{ end }}
    </div>
    {{ end }}
    {{ end }}


</section>
{{ end }}
