{{ define "main" }}
<section class="single-page-container page-type-{{ .Type }}" data-pagefind-body>
    
    <h2 class="single-page-title" data-pagefind-meta="title">{{ .Title }}</h2>

    {{ if eq .Type "blogi" }}
    <div class="blog-meta">
        {{ $readingTime := div (float .WordCount) .Site.Params.reading_speed }}
        {{ $readingTime = math.Ceil $readingTime }}

        Kirjoitus on julkaistu <strong><time datetime="{{ .PublishDate | time.Format "2006-01-02" }}">{{ .PublishDate | time.Format "Monday 02.01.2006" }}</time></strong>, sen lukemiseen menee noin <strong>{{ $readingTime }} minuuttia</strong> ja
        {{ with .Params.aiheet }} 
            se kuuluu seuraaviin aihealueisiin: 
            {{ range . }}
            <a href="{{ "aiheet/" | absLangURL }}{{ . | urlize}}">{{ . }}</a>
            {{ end }}
        {{ end }}
    </div>
    {{ end}}

    {{ .Content }}

    {{ if eq .Type "blogi" }}
    {{ if (or .NextInSection .PrevInSection) }}
    <div class="single-page-nav" data-pagefind-ignore>
        {{ with .PrevInSection }}
        <a href="{{ .RelPermalink }}" class="prev">
            <span class="title">« Edellinen</span><br>
            {{ .Title }}
        </a>
        {{ end }}

        {{ with .NextInSection }}
        <a href="{{ .RelPermalink }}" class="next">
            <span class="title">Seuraava »</span><br>
            {{ .Title }}</a>
        {{ end }}
    </div>
    {{ end }}
    {{ end }}


</section>
{{ end }}
